
    <h3>{{listName()}}</h3>
    <ul>
      @for (character of characters() | orderBy: 'power': 'desc'; track
      character.id; let idx = $index; let first = $first; let last = $last;) {
      @if(character.power >= 9000) {
      <li>
        <span>
          {{ idx + 1 }} {{ character.name }}
          {{ first ? "el mejor de todos" : last ? "el peor de todos" : "" }}
        </span>
        <strong
          [class.text-danger]="character.power > 9000"
          [class.text-info]="character.power < 9000"
        >
          ({{ character.power }})
        </strong>
      </li>
      } }
    </ul>
